.player{
    width: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.name{
    padding: 0px 5px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: var(--light-color);
    color: var(--dark-color);
    font-size: .7em;
    font-weight: bold;
}

#goleiro{
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
}

#zagueiro_direita{
    bottom: 150px;
    right: 130px;
}

#zagueiro_esquerda{
    bottom: 150px;
    left: 130px;
}

#lateral_direita{
    bottom: 180px;
    right: 30px;
}

#lateral_esquerda{
    bottom: 180px;
    left: 30px;
}

#meia_direita{
    bottom: 280px;
    right: 80px;
}

#meia_esquerda{
    bottom: 280px;
    left: 80px;
}

#meia_central{
    bottom: 300px;
    right: 50%;
    transform: translate(50%);
}

#ponta_direita{
    bottom: 400px;
    right: 50px;
}

#ponta_esquerda{
    bottom: 400px;
    left: 50px;
}

#atacante{
    bottom: 420px;
    right: 50%;
    transform: translate(50%);
}