.player{
    width: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.player .flag{
    display: block;
    width: 20px;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%);
}

.player .name{
    padding: 0px 5px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: var(--light-color);
    color: var(--dark-color);
    font-size: .7em;
    font-weight: bold;
}

.resetButton{
    position: absolute;
    top: -5px;
    right: 5px;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    color: var(--light-color);
    background-color: #D0011B;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.player:hover .resetButton{
    display: flex;
}