*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

:root{
  --main-color: #05E191;
  --dark-color: #181818;
  --light-color: #F4F4FA;
}

body {
  margin: 0;
  font-family: 'Play',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-color);
  background-image: linear-gradient(180deg, transparent 80%, var(--main-color) 200%);
}